<!--

    Licensed to JumpMind Inc under one or more contributor
    license agreements.  See the NOTICE file distributed
    with this work for additional information regarding
    copyright ownership.  JumpMind Inc licenses this file
    to you under the GNU General Public License, version 3.0 (GPLv3)
    (the "License"); you may not use this file except in compliance
    with the License.

    You should have received a copy of the GNU General Public License,
    version 3.0 (GPLv3) along with this library; if not, see
    <http://www.gnu.org/licenses/>.

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
    KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.

-->
<definitions>
  <component category='WRITER'
             id='SQS Writer'
             inputMessageType='text'
             inputOutputModelsMatch='false'
             outputMessageType='text'
             resourceCategory='queue'>
    <name>SQS Writer</name>
    <className>org.jumpmind.metl.core.runtime.component.SQSWriter</className>
    <keywords>sqs,writer</keywords>
    <description></description>
    <settings>
      <setting id='sqs.writer.queue.url'
               required='true'
               type='text'>
        <name>Queue URL</name>
      </setting>
      <setting id='sqs.writer.message.group.id'
               required='false'
               type='text'>
        <name>Message Group (FIFO queues only)</name>
      </setting>
    </settings>
  </component>
  <component category='READER'
             id='SQS Reader'
             inputMessageType='text'
             inputOutputModelsMatch='false'
             outputMessageType='text'
             resourceCategory='queue'>
    <name>SQS Reader</name>
    <className>org.jumpmind.metl.core.runtime.component.SQSReader</className>
    <keywords>sqs,reader</keywords>
    <description></description>
    <settings>
      <setting id='sqs.reader.queue.url'
               required='true'
               type='text'>
        <name>Queue URL</name>
      </setting>
      <setting id='sqs.reader.max.messages.to.read'
               required='true'
               type='integer'>
        <name>Max Messages to Read</name>
        <defaultValue>1</defaultValue>
      </setting>
      <setting id='sqs.reader.queue.messages.per.output.message'
               required='true'
               type='integer'>
        <name>Queue Messages Per OutputMessage</name>
        <defaultValue>1</defaultValue>
      </setting>
      <setting id='sqs.reader.delete.when'
               required='true'
               type='choice'>
        <name>Delete When</name>
        <defaultValue>AFTER EVERY READ</defaultValue>
        <choices>
          <choice>AFTER EVERY READ</choice>
          <choice>ON FLOW COMPLETION</choice>
          <choice>DO NOT DELETE</choice>
        </choices>
      </setting>
      <setting id='sqs.reader.read.until.queue.empty'
               required='true'
               type='boolean'>
        <name>Read until queue empty</name>
        <defaultValue>false</defaultValue>
      </setting>
      <setting id='run.when'
               required='false'
               type='choice'>
        <name>Run When</name>
        <defaultValue>PER UNIT OF WORK</defaultValue>
        <choices>
          <choice>PER UNIT OF WORK</choice>
          <choice>PER MESSAGE</choice>
        </choices>
      </setting>
    </settings>
  </component>
    <component category='PROCESSOR'
             id='SQS Delete'
             inputMessageType='any'
             inputOutputModelsMatch='false'
             outputMessageType='text'
             resourceCategory='queue'>
    <name>SQS Delete</name>
    <className>org.jumpmind.metl.core.runtime.component.SQSDelete</className>
    <keywords>sqs,delete</keywords>
    <description></description>
    <settings>
      <setting id='run.when'
               required='false'
               type='choice'>
        <name>Run When</name>
        <defaultValue>PER UNIT OF WORK</defaultValue>
        <choices>
          <choice>PER UNIT OF WORK</choice>
          <choice>PER MESSAGE</choice>
        </choices>
      </setting>
      <setting id='sqs.delete.queue.url'
               required='true'
               type='text'>
        <name>Queue URL</name>
      </setting>
    </settings>
  </component>
</definitions>
