<!--

    Licensed to JumpMind Inc under one or more contributor
    license agreements.  See the NOTICE file distributed
    with this work for additional information regarding
    copyright ownership.  JumpMind Inc licenses this file
    to you under the GNU General Public License, version 3.0 (GPLv3)
    (the "License"); you may not use this file except in compliance
    with the License.

    You should have received a copy of the GNU General Public License,
    version 3.0 (GPLv3) along with this library; if not, see
    <http://www.gnu.org/licenses/>.

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
    KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.

-->
<definitions>
  <component category='PROCESSOR'
             id='Temp RDBMS'
             inputMessageType='entity'
             outputMessageType='entity'
             resourceCategory='none'>
    <name>Temp RDBMS</name>
    <className>org.jumpmind.metl.core.runtime.component.TempRdbms</className>
    <keywords>database,db,sql</keywords>
    <settings>
      <setting id='run.when'
               required='false'
               type='choice'>
        <name>Run When</name>
        <defaultValue>PER UNIT OF WORK</defaultValue>
        <choices>
          <choice>PER UNIT OF WORK</choice>
          <choice>PER MESSAGE</choice>
        </choices>
      </setting>
      <setting id='sql'
               required='true'
               type='multiline_text'
               visible='true'>
        <name>Sql</name>
      </setting>
      <setting id='ddl'
               required='false'
               type='multiline_text'
               visible='true'>
        <name>Ddl</name>
      </setting>
      <setting id='rows.per.message'
               required='false'
               type='integer'>
        <name>Rows/Msg</name>
        <defaultValue>1000</defaultValue>
      </setting>
      <setting id='in.memory.db'
               required='true'
               type='boolean'>
        <name>In Memory Db</name>
        <defaultValue>true</defaultValue>
      </setting>
      <setting id='continue.on.error'
               required='true'
               type='boolean'>
        <name>Continue On Error</name>
        <defaultValue>false</defaultValue>
      </setting>
      <setting id='batch.mode'
               required='true'
               type='boolean'>
        <name>Batch Mode</name>
        <defaultValue>false</defaultValue>
      </setting>
    </settings>
  </component>
</definitions>
