<!--

    Licensed to JumpMind Inc under one or more contributor
    license agreements.  See the NOTICE file distributed
    with this work for additional information regarding
    copyright ownership.  JumpMind Inc licenses this file
    to you under the GNU General Public License, version 3.0 (GPLv3)
    (the "License"); you may not use this file except in compliance
    with the License.

    You should have received a copy of the GNU General Public License,
    version 3.0 (GPLv3) along with this library; if not, see
    <http://www.gnu.org/licenses/>.

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
    KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.

-->
<definitions>
  <component category='READER'
             id='RDBMS Reader'
             inputMessageType='any'
             showInputModel='true'
             outputMessageType='entity'
             resourceCategory='datasource'>
    <name>RDBMS Reader</name>
    <className>org.jumpmind.metl.core.runtime.component.RdbmsReader</className>
    <keywords>database,db,sql</keywords>
    <description></description>
    <settings>
      <setting id='sql'
               required='true'
               type='multiline_text'>
        <name>Sql</name>
      </setting>
      <setting id='run.when'
               required='false'
               type='choice'>
        <name>Run When</name>
        <defaultValue>PER UNIT OF WORK</defaultValue>
        <choices>
          <choice>PER UNIT OF WORK</choice>
          <choice>PER MESSAGE</choice>
          <choice>PER ENTITY</choice>
        </choices>
      </setting>
      <setting id='unit.of.work'
               required='false'
               type='choice'>
        <name>Unit of Work</name>
        <defaultValue>COMPONENT LIFETIME</defaultValue>
        <choices>
          <choice>COMPONENT LIFETIME</choice>
          <choice>SQL SCRIPT</choice>
          <choice>SQL STATEMENT</choice>
        </choices>
      </setting>
      <setting id='query.timeout.seconds'
               required='true'
               type='integer'>
        <name>Query Timeout (seconds)</name>
        <defaultValue>-1</defaultValue>
      </setting>      
      <setting id='rows.per.message'
               required='true'
               type='integer'>
        <name>Rows/Msg</name>
        <defaultValue>1000</defaultValue>
      </setting>
      <setting id='trim.columns'
               required='true'
               type='boolean'>
        <name>Trim Columns</name>
        <defaultValue>false</defaultValue>
      </setting>
      <setting id='match.on.column.name'
               required='true'
               type='boolean'>
        <name>Match On Column Name</name>
        <defaultValue>false</defaultValue>
      </setting>
      <setting id='pass.input.rows.through'
               required='true'
               type='boolean'>
        <name>Pass Input Rows Through</name>
        <defaultValue>false</defaultValue>
      </setting>
    </settings>
  </component>
</definitions>
