$v-app-loading-text: "Loading";

$v-font-family: "Roboto", sans-serif;
$v-font-size: 16px;  
$v-unit-size: round(2.3 * $v-font-size);
$v-layout-margin-top:    20px;
$v-layout-margin-right:  20px;
$v-layout-margin-bottom: 20px;
$v-layout-margin-left:   20px;
$v-font-weight: 400;
$v-font-weight--header: 400;
$v-background-color: #fff;
$v-focus-color: #0072C6;
$v-luminance-threshold: 180;
$v-border: 2px solid v-shade;
$v-border-radius: 6px;
$v-bevel: false;
$v-gradient: v-linear 10%;
$v-shadow: false;
$v-textfield-bevel: false;
$v-textfield-shadow: false;
$v-link-text-decoration: false;
$v-selection-overlay-padding-horizontal: 0;
$v-selection-overlay-padding-vertical: 6px;
$v-selection-item-height: 30px;
$v-selection-item-border-radius: 0;
$valo-menu-background-color: #eee;

@import "../valo/valo";
