<!--

    Licensed to JumpMind Inc under one or more contributor
    license agreements.  See the NOTICE file distributed
    with this work for additional information regarding
    copyright ownership.  JumpMind Inc licenses this file
    to you under the GNU General Public License, version 3.0 (GPLv3)
    (the "License"); you may not use this file except in compliance
    with the License.

    You should have received a copy of the GNU General Public License,
    version 3.0 (GPLv3) along with this library; if not, see
    <http://www.gnu.org/licenses/>.

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
    KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.

-->
<definitions>
  <component category='PROCESSOR'
             id='Web'
             inputMessageType='any'
             inputOutputModelsMatch='false'
             outputMessageType='any'
             resourceCategory='http'
             supportsMultipleThreads='true'>
    <name>Web Request</name>
    <className>org.jumpmind.metl.core.runtime.component.Web</className>
    <keywords>invoke,rest,http</keywords>
    <description></description>
    <settings>
      <setting id='run.when'
               required='false'
               type='choice'>
        <name>Run When</name>
        <defaultValue>PER MESSAGE</defaultValue>
        <choices>
          <choice>PER UNIT OF WORK</choice>
          <choice>PER MESSAGE</choice>
        </choices>
      </setting>
      <setting id='http.method' required='false' type='choice'>
          <name>HTTP Method</name>
          <defaultValue>GET</defaultValue>
          <choices>
              <choice>GET</choice>
              <choice>PUT</choice>
              <choice>PATCH</choice>
              <choice>POST</choice>
              <choice>DELETE</choice>
          </choices>
      </setting>  
      <setting id='relative.path'
               required='false'
               type='text'>
        <name>Append To Url</name>
      </setting>
      <setting id='body.from'
               required='true'
               type='choice'>
        <name>Body From</name>
        <defaultValue>Message</defaultValue>
        <choices>
          <choice>Message</choice>
          <choice>Provided</choice>
        </choices>
      </setting>      
      <setting id='body.text'
               required='false'
               type='multiline_text'>
        <name>Body Text</name>
      </setting>
      <setting id='http.headers'
               required='false'
               type='multiline_text'>
        <name>Http Headers</name>
        <defaultValue>User-Agent:Metl</defaultValue>
      </setting>
      <setting id='http.parameters'
         required='false'
         type='multiline_text'>
         <name>Http Parameters</name>
      </setting>
      <setting id='parameter.replacement'
               required='false'
               type='boolean'>
        <name>Parameter replacement</name>
        <defaultValue>false</defaultValue>
      </setting>
      <setting id='encoding' required='false' type='text'>
          <name>Encoding</name>
          <defaultValue>UTF-8</defaultValue>
      </setting>
    </settings>
  </component>  
</definitions>
