/bin
/.classpath
/.project
/.settings
/build
.DS_Store

/src/main/webapp/
/test_codb.h2.db
/test_codb.lock.db
/test_codb.trace.db
/test_vertex_rte.h2.db
/test_vertex_rte.lock.db
/working/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*