/bin/
/logs/
/symmetricis-dev.h2.db
/symmetricis-dev.lock.db
/.settings/
/.classpath
/.project
/symmetricis-dev.trace.db
/build/
/as400.h2.db
/as400.lock.db
/as400.trace.db
/co.h2.db
/co.trace.db
/test.h2.db
/test.lock.db
/test.trace.db
/co.lock.db
/symmetricis-dev.h2.db.save
/codb13.h2.db
/codb13.trace.db
/codb13.lock.db
/sourcedb.h2.db
/sourcedb.lock.db
/sourcedb.trace.db
/targetdb.h2.db
/targetdb.lock.db
/targetdb.trace.db
/metl-dev.h2.db
.DS_Store
/security/
