<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1" metadata-complete="true">
    <display-name>Metl</display-name>

    <absolute-ordering></absolute-ordering>

    <context-param>
        <param-name>autoStart</param-name>
        <param-value>true</param-value>
    </context-param>

    <context-param>
        <param-name>productionMode</param-name>
        <param-value>false</param-value>
    </context-param>

    <context-param>
        <param-name>contextClass</param-name>
        <param-value>org.jumpmind.metl.ui.init.AppContext</param-value>
    </context-param>  

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>org.jumpmind.metl.ui.init.AppConfig</param-value>
    </context-param>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <listener>
        <listener-class>org.jumpmind.metl.ui.init.AppInitializer</listener-class>
    </listener>

    <listener>
        <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>Console Application</servlet-name>
        <servlet-class>org.jumpmind.metl.ui.init.AppServlet</servlet-class>
        <init-param>
            <description>Vaadin UI</description>
            <param-name>UI</param-name>
            <param-value>org.jumpmind.metl.ui.init.AppUI</param-value>
        </init-param>
        <init-param>
            <param-name>widgetset</param-name>
            <param-value>org.jumpmind.metl.ui.AppWidgetSet</param-value>
        </init-param>
        <init-param>
            <param-name>oldLicenseChecker</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>org.atmosphere.cpr.asyncSupport</param-name>
            <param-value>org.atmosphere.container.JSR356AsyncSupport</param-value>
        </init-param>
        <async-supported>true</async-supported>
    </servlet>

    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
             <param-name>contextClass</param-name>
             <param-value>org.jumpmind.metl.ui.init.AppContext</param-value>
        </init-param>
        <init-param>
             <param-name>contextConfigLocation</param-name>
             <param-value>org.jumpmind.metl.ui.init.SwaggerConfig</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>docs</servlet-name>
        <servlet-class>org.eclipse.jetty.servlet.DefaultServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>Console Application</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>/api/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>docs</servlet-name>
        <url-pattern>/api.html</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>docs</servlet-name>
        <url-pattern>/ws-api.html</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>docs</servlet-name>
        <url-pattern>/doc/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>docs</servlet-name>
        <url-pattern>/ace/*</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>120</session-timeout>
    </session-config>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

</web-app>
