<?xml version="1.0" encoding="UTF-8"?>
<!--

    Licensed to JumpMind Inc under one or more contributor
    license agreements.  See the NOTICE file distributed
    with this work for additional information regarding
    copyright ownership.  JumpMind Inc licenses this file
    to you under the GNU General Public License, version 3.0 (GPLv3)
    (the "License"); you may not use this file except in compliance
    with the License.

    You should have received a copy of the GNU General Public License,
    version 3.0 (GPLv3) along with this library; if not, see
    <http://www.gnu.org/licenses/>.

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
    KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.

-->
<Configuration>
	<Appenders>
		<Console name="CONSOLE" target="SYSTEM_OUT">
			<PatternLayout pattern="%d %5.5p [%30.30t] %m%n"/>
		</Console>
	</Appenders>
	<Loggers>
		<Logger name="org" level="WARN"/>
		<Logger name="com.vaadin" level="ERROR"/>
		<Logger name="org.jumpmind" level="INFO"/>
		<!-- Disable the not found override properties file warnings to avoid confusion -->
		<Logger name="org.jumpmind.symmetric.ClientSymmetricEngine$PropertiesFactoryBean" level="ERROR"/>
		<Logger name="org.jumpmind.symmetric.service.impl.ParameterService" level="ERROR"/>
		<Logger name="org.jumpmind.symmetric.db.SqlScript" level="ERROR"/>
		<Logger name="org.springframework" level="ERROR"/>
		<Logger name="org.jumpmind.db.platform.JdbcDatabasePlatformFactory" level="WARN"/>
		<Logger name="org.atmosphere.cpr" level="ERROR"/>
		<!-- read socket timeout is inevitable.  don't log it as an error -->
		<Logger name="org.atmosphere.container.JSR356Endpoint" level="FATAL"/>
		<Logger name="com.vaadin.server.DefaultDeploymentConfiguration" level="ERROR"/>
		<!--
		<Logger name="org.jumpmind.metl.core.plugin.PluginManager" level="DEBUG"/>
		<Logger name="org.jumpmind.metl.core.runtime.component.definition" level="DEBUG"/>
		-->
		<!-- To print out config SQL 
		<Logger name="org.jumpmind.db.sql" level="DEBUG"/>
		-->
		<Root level="WARN">
			<AppenderRef ref="CONSOLE"/>
		</Root>
	</Loggers>
</Configuration>