<!--

    Licensed to JumpMind Inc under one or more contributor
    license agreements.  See the NOTICE file distributed
    with this work for additional information regarding
    copyright ownership.  JumpMind Inc licenses this file
    to you under the GNU General Public License, version 3.0 (GPLv3)
    (the "License"); you may not use this file except in compliance
    with the License.

    You should have received a copy of the GNU General Public License,
    version 3.0 (GPLv3) along with this library; if not, see
    <http://www.gnu.org/licenses/>.

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
    KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.

-->
<definitions>
  <component category='PROCESSOR'
             id='Script'
             inputMessageType='any'
             showInputModel='true'
             inputOutputModelsMatch='false'
             outputMessageType='any'
             showOutputModel='true'
             resourceCategory='any'
             supportsMultipleThreads='true'>
    <name>Groovy Script</name>
    <className>org.jumpmind.metl.core.runtime.component.Script</className>
    <keywords>groovy,logic,java</keywords>
    <description></description>
    <settings>
      <setting id='imports'
               required='true'
               type='script'
               visible='false'>
        <name>Import Statements</name>
      </setting>
      <setting id='methods'
               required='true'
               type='script'
               visible='false'>
        <name>Additional Methods</name>
      </setting>
      <setting id='init.script'
               required='true'
               type='script'
               visible='false'>
        <name>Init Script</name>
      </setting>
      <setting id='handle.msg.script'
               required='true'
               type='script'
               visible='false'>
        <name>Handle Msg Script</name>
        <defaultValue>
forwardMessage()        
        </defaultValue>
      </setting>
      <setting id='on.flow.success.script'
               required='true'
               type='script'
               visible='false'>
        <name>Ended with Success Script</name>
      </setting>
      <setting id='on.flow.error.script'
               required='true'
               type='script'
               visible='false'>
        <name>Ended with Error Script</name>
      </setting>
    </settings>
  </component>
</definitions>
