<!--

    Licensed to JumpMind Inc under one or more contributor
    license agreements.  See the NOTICE file distributed
    with this work for additional information regarding
    copyright ownership.  JumpMind Inc licenses this file
    to you under the GNU General Public License, version 3.0 (GPLv3)
    (the "License"); you may not use this file except in compliance
    with the License.

    You should have received a copy of the GNU General Public License,
    version 3.0 (GPLv3) along with this library; if not, see
    <http://www.gnu.org/licenses/>.

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
    KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.

-->
<definitions>
  <component category='PROCESSOR'
             id='Sequence'
             inputMessageType='entity'
             inputOutputModelsMatch='true'
             outputMessageType='entity'
             resourceCategory='datasource'>
    <name>Sequence</name>
    <className>org.jumpmind.metl.core.runtime.component.SequenceGenerator</className>
    <description></description>
    <settings>
      <setting id='sequence.attribute'
               required='true'
               type='text'>
        <name>Sequence Attribute Name</name>
      </setting>
      <setting id='sequence.sql'
               required='false'
               type='multiline_text'>
        <name>Select Starting Sequence Sql</name>
      </setting>
      <setting id='sequence.start.value'
               required='false'
               type='integer'>            
        <name>Starting Sequence Value</name>
      </setting>      
      <setting id='shared'
               required='true'
               type='boolean'>
        <defaultValue>false</defaultValue>
        <name>Is Sequence Shared?</name>
      </setting>
      <setting id='shared.name'
               required='false'
               type='text'>
        <name>Shared Name</name>
      </setting>
      <setting id='reset.on.attribute.change'
               required='true'
               type='boolean'>
        <defaultValue>false</defaultValue>
        <name>Reset on Attribute Change?</name>
      </setting>
      <setting id='reset.attribute'
               required='false'
               type='entity_column'>
        <name>Reset Attribute Name</name>
      </setting>      
    </settings>
  </component>
</definitions>
